

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.App img {
    width: 480px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.Title  {
    height: 8vh;
    width: 20%;
    font-size: 12px;
    color: white;
    margin-right: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    display: grid;
    gap: 2.7rem;
    font-family:sans-serif  ;
}

h1 {
    -webkit-text-stroke-color: orange;
    -webkit-text-stroke-width: 2px;
}

Button {
    background: orange;
    color: black;
    border: black 2px solid;
    width: 150px;
    height: 40px;
    padding: 0.8%;
    border-radius: 10px;
    cursor: pointer;
    
}


article {
    padding: 30px;
    font-family: sans-serif;
    color: #fff;
    position: relative;
    background: linear-gradient(-135deg, transparent 1.5em, white 0) no-repeat;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 10.5rem;
    width: 30rem;
    font-weight:550;
    
}

article::after {
    content: "";
    width: 2.13em;
    height: 2.15em;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    box-shadow: -4px 3px 3px #2e5c67;
    border-bottom-left-radius: 5px;
}

.Sheet::after {
    width: 2.13em;
    height: 2.13em;
    background: #7bc2d2;
    background: linear-gradient(-135deg, transparent 1.5rem, #C8DBBE 0);
}

.Sheet p {
    
    color: black;
    line-height: 1.2em;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    
}


.border {
    position: absolute;
    border-top: 40px solid red;
    border-right: 40px solid green;
    border-bottom: 40px solid blue;
    border-left: 40px solid orange;
}

.author {
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    opacity: 0.85;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 320px){

    .App {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 280px;
        min-height: 700px;
    }

    .Title{
        width: 15rem;
        height: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -9rem;
    }

    .Title h1{
        position: relative;
        left: 0.7rem;
    }

    .Title button{
        position: relative;
        top: 1rem;
        left: 0.5rem;
    }

    .Sheet{
        width: 13.5rem;
        height: 10rem;
        position: relative;
        bottom: 5rem;
    }

    .Sheet p{

        font-size: 13px;
        position: relative;
        bottom: 0.2rem;
    }

    .author{
        position: relative;
        bottom: 1rem;
    }

}

@media (min-width: 321px){

    .App {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 321px;
        min-height: 700px;
    }

    .Title{
        width: 15rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -9rem;
        font-size: 15px;
    }

    .Title h1{
        position: relative;
        left: 0.7rem;
        top:5rem;
    }

    .Title button{
        position: relative;
        top: 5rem;
        left: 0.5rem;
        width: 11rem;
        height: 4rem;
        font-size: 15px;
    }

    .Sheet{
        width: 16.5rem;
        height: 12rem;
        position: relative;
        bottom: 1rem;
    }

    .Sheet p{

        font-size: 15.5px;
        position: relative;
        bottom: 0.2rem;
    }

    .author{
        position: relative;
        bottom: -2.5rem;   
        width: 14rem;
        height: 3rem;
        font-size: 17px;
        
    }

}

@media (min-width: 576px){

    .App {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 576px;
        min-height: 700px;
    }

    .Title{
        width: 18rem;
        height: 17rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -9rem;
        font-size: 20px;
    }

    .Title h1{
        position: relative;
        left: 0.7rem;
        top:7.5rem;
    }

    .Title button{
        position: relative;
        top: 7.5rem;
        left: 1rem;
        width: 14rem;
        height: 4rem;
        font-size: 18px;
    }

    .Sheet{
        width: 24.5rem;
        height: 14rem;
        position: relative;
        bottom: 1rem;
    }

    .Sheet p{

        font-size: 20.5px;
        position: relative;
        bottom: -1rem;
    }

    .author{
        position: relative;
        bottom: -2.5rem;   
        width: 16rem;
        height: 3.5rem;
        font-size: 22px;
        
    }

}

@media (min-width: 768px){

    .App {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 768px;
        min-height: 100vh;
    }

    .Title{
        width: 25rem;
        height: 27rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -9rem;
        font-size: 23px;
    }

    .Title h1{
        position: relative;
        left: 0.7rem;
        top:7.5rem;
    }

    .Title button{
        position: relative;
        top: 7.5rem;
        left: 1rem;
        width: 16rem;
        height: 5rem;
        font-size: 21px;
    }

    .Sheet{
        width: 35.5rem;
        height: 18rem;
        position: relative;
        bottom: 3rem;
    }

    .Sheet p{

        font-size: 27.5px;
        position: relative;
        bottom: -1rem;
    }

    .author{
        position: relative;
        bottom: 0.5rem;   
        width: 18rem;
        height: 4.5rem;
        font-size: 25px;
        
    }

    .author p{
        position: relative;
        top: 0.5rem;
    }

}

@media (min-width: 992px){

    .App {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 992px;
        min-height: 100vh;
    }

    .Title{
        width: 25rem;
        height: 27rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -9rem;
        font-size: 26px;
    }

    .Title h1{
        position: relative;
        left: 0.7rem;
        top:7.5rem;
    }

    .Title button{
        position: relative;
        top: 7.5rem;
        left: 1rem;
        width: 17rem;
        height: 5rem;
        font-size: 23px;
    }

    .Sheet{
        width: 39.5rem;
        height: 18rem;
        position: relative;
        bottom: 3rem;
    }

    .Sheet p{

        font-size: 27.5px;
        position: relative;
        bottom: -1rem;
    }

    .author{
        position: relative;
        bottom: 0.5rem;   
        width: 19rem;
        height: 5rem;
        font-size: 26px;
        
    }

    .author p{
        position: relative;
        top: 0.6rem;
    }

    .loader {
        min-width: 100%;
        min-height: 100%;
        background: url(./assets/china.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        right: 0rem;
        z-index: 100;
    }

    .lds-spinner {
        color: official;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
      }
      .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #fff;
      }
      .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
      }
      .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }
      .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }
      .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }
      .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }
      .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }
      .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }
      .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }
      .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }
      .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }
      .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }
      .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }
      @keyframes lds-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    

}









